default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\DemoContext
                - App\Tests\Behat\LeadImportContext

    extensions:
        FriendsOfBehat\SymfonyExtension: null
